.elementor-7225
  .elementor-element.elementor-element-b5baf2e
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: flex-start;
  align-items: flex-start;
}
.elementor-7225
  .elementor-element.elementor-element-b5baf2e
  > .elementor-background-overlay {
  background-color: #000000;
  opacity: 0.4;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-7225
  .elementor-element.elementor-element-b5baf2e
  .elementor-background-slideshow__slide__image {
  background-size: cover;
  background-position: center center;
}
.elementor-7225 .elementor-element.elementor-element-b5baf2e {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 100px 0px 100px 0px;
}
.elementor-7225
  .elementor-element.elementor-element-1614a52
  > .elementor-container {
  max-width: 1134px;
}
.elementor-7225
  .elementor-element.elementor-element-4da084d
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(
    .elementor-widget__width-initial
  ):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0px;
}
.elementor-7225 .elementor-element.elementor-element-d137f51 {
  width: initial;
  max-width: initial;
}
.elementor-7225
  .elementor-element.elementor-element-d137f51
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
}
.elementor-7225
  .elementor-element.elementor-element-d137f51
  .tf-title-section
  .title-section {
  text-align: left;
}
.elementor-7225
  .elementor-element.elementor-element-d137f51
  .tf-title-section
  .title-section
  .heading {
  font-size: 60px;
  line-height: 1.2em;
  color: #ffffff;
}
.elementor-7225
  .elementor-element.elementor-element-d137f51
  .tf-title-section
  .title-section
  .description {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #ffffff;
  margin: 0px 0px 0px 0px;
}
.elementor-7225 .elementor-element.elementor-element-b216f65 {
  width: var(--container-widget-width, 70%);
  max-width: 70%;
  --container-widget-width: 70%;
  --container-widget-flex-grow: 0;
  color: #ffffff;
}
.elementor-7225
  .elementor-element.elementor-element-2c6ad88
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: flex-start;
  align-items: flex-start;
}
.elementor-7225
  .elementor-element.elementor-element-2c6ad88
  > .elementor-background-overlay {
  opacity: 0.4;
}
.elementor-7225 .elementor-element.elementor-element-2c6ad88 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-7225 .elementor-element.elementor-element-b7df6a7 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --gap: 50px 50px;
  --row-gap: 50px;
  --column-gap: 50px;
  --overlay-opacity: 0;
  --margin-top: 100px;
  --margin-bottom: 100px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 15px;
  --padding-right: 15px;
}
.elementor-7225 .elementor-element.elementor-element-b7df6a7::before,
.elementor-7225
  .elementor-element.elementor-element-b7df6a7
  > .elementor-background-video-container::before,
.elementor-7225
  .elementor-element.elementor-element-b7df6a7
  > .e-con-inner
  > .elementor-background-video-container::before,
.elementor-7225
  .elementor-element.elementor-element-b7df6a7
  > .elementor-background-slideshow::before,
.elementor-7225
  .elementor-element.elementor-element-b7df6a7
  > .e-con-inner
  > .elementor-background-slideshow::before,
.elementor-7225
  .elementor-element.elementor-element-b7df6a7
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer::before {
  --background-overlay: "";
}
.elementor-7225 .elementor-element.elementor-element-3179a7d {
  width: var(--container-widget-width, 59%);
  max-width: 59%;
  --container-widget-width: 59%;
  --container-widget-flex-grow: 0;
}
.elementor-7225 .elementor-element.elementor-element-3179a7d.elementor-element {
  --align-self: center;
}
.elementor-7225
  .elementor-element.elementor-element-3179a7d
  .tf-title-section
  .title-section {
  text-align: center;
}
.elementor-7225 .elementor-element.elementor-element-4eff3f9 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --gap: 0px 0px;
  --row-gap: 0px;
  --column-gap: 0px;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-7225 .elementor-element.elementor-element-ea7fd32 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --gap: 0px 0px;
  --row-gap: 0px;
  --column-gap: 0px;
  border-style: solid;
  --border-style: solid;
  border-width: 0px 1px 0px 0px;
  --border-top-width: 0px;
  --border-right-width: 1px;
  --border-bottom-width: 0px;
  --border-left-width: 0px;
  border-color: #efefef;
  --border-color: #efefef;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 20px;
  --padding-right: 20px;
}
.elementor-7225 .elementor-element.elementor-element-2fc7711 .tf-imagebox {
  text-align: center;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}
.elementor-7225
  .elementor-element.elementor-element-2fc7711
  .tf-imagebox
  .image {
  max-width: 100%;
  margin: 0px 0px 18px 0px;
}
.elementor-7225
  .elementor-element.elementor-element-2fc7711
  .tf-imagebox
  .image,
.elementor-7225
  .elementor-element.elementor-element-2fc7711
  .tf-imagebox
  .image
  img {
  border-radius: 10px 10px 10px 10px;
}
.elementor-7225
  .elementor-element.elementor-element-2fc7711
  .tf-imagebox
  .image
  img {
  opacity: 1;
}
.elementor-7225
  .elementor-element.elementor-element-2fc7711
  .tf-imagebox:hover
  .image
  img {
  opacity: 1;
  transform: scale(1);
}
.elementor-7225
  .elementor-element.elementor-element-2fc7711
  .tf-imagebox
  .image
  .image-overlay {
  background-color: rgba(0, 0, 0, 0.5);
}
.elementor-7225
  .elementor-element.elementor-element-2fc7711
  .tf-imagebox
  .content {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}
.elementor-7225
  .elementor-element.elementor-element-2fc7711
  .tf-imagebox
  .content
  .wrap-icon {
  font-size: 70px;
  margin: 0px 0px 0px 0px;
}
.elementor-7225
  .elementor-element.elementor-element-2fc7711
  .tf-imagebox
  .content
  .wrap-icon
  img {
  width: 70px;
  height: 70px;
  object-fit: cover;
}
.elementor-7225
  .elementor-element.elementor-element-2fc7711
  .tf-imagebox
  .title
  a {
  font-size: 16px;
  font-weight: 600;
  color: #f15922;
}
.elementor-7225
  .elementor-element.elementor-element-2fc7711
  .tf-imagebox
  .title
  a:hover {
  color: #ffa920;
}
.elementor-7225
  .elementor-element.elementor-element-2fc7711
  .tf-imagebox
  .content
  .title {
  margin: 0px 0px 0px 0px;
}
.elementor-7225
  .elementor-element.elementor-element-2fc7711
  .tf-imagebox
  .description {
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  color: #717580;
  margin: 0px 0px 0px 0px;
}
.elementor-7225
  .elementor-element.elementor-element-2fc7711
  .tf-imagebox
  .tf-button {
  font-size: 13px;
  font-weight: 600;
  padding: 0px 0px 0px 0px;
  margin: 20px 0px 0px 0px;
  color: #1c1c1e;
}
.elementor-7225
  .elementor-element.elementor-element-2fc7711
  .tf-imagebox
  .tf-button
  i {
  color: #1c1c1e;
  font-size: 18px;
}
.elementor-7225
  .elementor-element.elementor-element-2fc7711
  .tf-imagebox
  .tf-button
  svg {
  fill: #1c1c1e;
  width: 18px;
}
.elementor-7225
  .elementor-element.elementor-element-2fc7711
  .tf-imagebox
  .tf-button:hover {
  color: #ffa920;
}
.elementor-7225
  .elementor-element.elementor-element-2fc7711
  .tf-imagebox
  .tf-button:hover
  i {
  color: #ffa920;
}
.elementor-7225
  .elementor-element.elementor-element-2fc7711
  .tf-imagebox
  .tf-button:hover
  svg {
  fill: #ffa920;
}
.elementor-7225
  .elementor-element.elementor-element-2fc7711
  .tf-imagebox
  .tf-button.bt_icon_before
  i {
  margin-right: 10px;
}
.elementor-7225
  .elementor-element.elementor-element-2fc7711
  .tf-imagebox
  .tf-button.bt_icon_before
  svg {
  margin-right: 10px;
}
.elementor-7225
  .elementor-element.elementor-element-2fc7711
  .tf-imagebox
  .tf-button.bt_icon_after
  i {
  margin-left: 10px;
}
.elementor-7225
  .elementor-element.elementor-element-2fc7711
  .tf-imagebox
  .tf-button.bt_icon_after
  svg {
  margin-left: 10px;
}
.rtl
  .elementor-7225
  .elementor-element.elementor-element-2fc7711
  .tf-imagebox
  .tf-button.bt_icon_before
  i {
  margin-left: 10px;
  margin-right: 0;
}
.rtl
  .elementor-7225
  .elementor-element.elementor-element-2fc7711
  .tf-imagebox
  .tf-button.bt_icon_before
  svg {
  margin-left: 10px;
  margin-right: 0;
}
.rtl
  .elementor-7225
  .elementor-element.elementor-element-2fc7711
  .tf-imagebox
  .tf-button.bt_icon_after
  i {
  margin-right: 10px;
  margin-left: 0;
}
.rtl
  .elementor-7225
  .elementor-element.elementor-element-2fc7711
  .tf-imagebox
  .tf-button.bt_icon_after
  svg {
  margin-right: 10px;
  margin-left: 0;
}
.elementor-7225 .elementor-element.elementor-element-4bc56f1 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --gap: 0px 0px;
  --row-gap: 0px;
  --column-gap: 0px;
  border-style: solid;
  --border-style: solid;
  border-width: 0px 1px 0px 0px;
  --border-top-width: 0px;
  --border-right-width: 1px;
  --border-bottom-width: 0px;
  --border-left-width: 0px;
  border-color: #efefef;
  --border-color: #efefef;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 20px;
  --padding-right: 20px;
}
.elementor-7225 .elementor-element.elementor-element-35e2f59 .tf-imagebox {
  text-align: center;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}
.elementor-7225
  .elementor-element.elementor-element-35e2f59
  .tf-imagebox
  .image {
  max-width: 100%;
  margin: 0px 0px 18px 0px;
}
.elementor-7225
  .elementor-element.elementor-element-35e2f59
  .tf-imagebox
  .image,
.elementor-7225
  .elementor-element.elementor-element-35e2f59
  .tf-imagebox
  .image
  img {
  border-radius: 10px 10px 10px 10px;
}
.elementor-7225
  .elementor-element.elementor-element-35e2f59
  .tf-imagebox
  .image
  img {
  opacity: 1;
}
.elementor-7225
  .elementor-element.elementor-element-35e2f59
  .tf-imagebox:hover
  .image
  img {
  opacity: 1;
  transform: scale(1);
}
.elementor-7225
  .elementor-element.elementor-element-35e2f59
  .tf-imagebox
  .image
  .image-overlay {
  background-color: rgba(0, 0, 0, 0.5);
}
.elementor-7225
  .elementor-element.elementor-element-35e2f59
  .tf-imagebox
  .content {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}
.elementor-7225
  .elementor-element.elementor-element-35e2f59
  .tf-imagebox
  .content
  .wrap-icon {
  font-size: 70px;
  margin: 0px 0px 0px 0px;
}
.elementor-7225
  .elementor-element.elementor-element-35e2f59
  .tf-imagebox
  .content
  .wrap-icon
  img {
  width: 70px;
  height: 70px;
  object-fit: cover;
}
.elementor-7225
  .elementor-element.elementor-element-35e2f59
  .tf-imagebox
  .title
  a {
  font-size: 16px;
  font-weight: 600;
  color: #f15922;
}
.elementor-7225
  .elementor-element.elementor-element-35e2f59
  .tf-imagebox
  .title
  a:hover {
  color: #ffa920;
}
.elementor-7225
  .elementor-element.elementor-element-35e2f59
  .tf-imagebox
  .content
  .title {
  margin: 0px 0px 0px 0px;
}
.elementor-7225
  .elementor-element.elementor-element-35e2f59
  .tf-imagebox
  .description {
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  color: #717580;
  margin: 0px 0px 0px 0px;
}
.elementor-7225
  .elementor-element.elementor-element-35e2f59
  .tf-imagebox
  .tf-button {
  font-size: 13px;
  font-weight: 600;
  padding: 0px 0px 0px 0px;
  margin: 20px 0px 0px 0px;
  color: #1c1c1e;
}
.elementor-7225
  .elementor-element.elementor-element-35e2f59
  .tf-imagebox
  .tf-button
  i {
  color: #1c1c1e;
  font-size: 18px;
}
.elementor-7225
  .elementor-element.elementor-element-35e2f59
  .tf-imagebox
  .tf-button
  svg {
  fill: #1c1c1e;
  width: 18px;
}
.elementor-7225
  .elementor-element.elementor-element-35e2f59
  .tf-imagebox
  .tf-button:hover {
  color: #ffa920;
}
.elementor-7225
  .elementor-element.elementor-element-35e2f59
  .tf-imagebox
  .tf-button:hover
  i {
  color: #ffa920;
}
.elementor-7225
  .elementor-element.elementor-element-35e2f59
  .tf-imagebox
  .tf-button:hover
  svg {
  fill: #ffa920;
}
.elementor-7225
  .elementor-element.elementor-element-35e2f59
  .tf-imagebox
  .tf-button.bt_icon_before
  i {
  margin-right: 10px;
}
.elementor-7225
  .elementor-element.elementor-element-35e2f59
  .tf-imagebox
  .tf-button.bt_icon_before
  svg {
  margin-right: 10px;
}
.elementor-7225
  .elementor-element.elementor-element-35e2f59
  .tf-imagebox
  .tf-button.bt_icon_after
  i {
  margin-left: 10px;
}
.elementor-7225
  .elementor-element.elementor-element-35e2f59
  .tf-imagebox
  .tf-button.bt_icon_after
  svg {
  margin-left: 10px;
}
.rtl
  .elementor-7225
  .elementor-element.elementor-element-35e2f59
  .tf-imagebox
  .tf-button.bt_icon_before
  i {
  margin-left: 10px;
  margin-right: 0;
}
.rtl
  .elementor-7225
  .elementor-element.elementor-element-35e2f59
  .tf-imagebox
  .tf-button.bt_icon_before
  svg {
  margin-left: 10px;
  margin-right: 0;
}
.rtl
  .elementor-7225
  .elementor-element.elementor-element-35e2f59
  .tf-imagebox
  .tf-button.bt_icon_after
  i {
  margin-right: 10px;
  margin-left: 0;
}
.rtl
  .elementor-7225
  .elementor-element.elementor-element-35e2f59
  .tf-imagebox
  .tf-button.bt_icon_after
  svg {
  margin-right: 10px;
  margin-left: 0;
}
.elementor-7225 .elementor-element.elementor-element-a77df4a {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --gap: 0px 0px;
  --row-gap: 0px;
  --column-gap: 0px;
  border-style: solid;
  --border-style: solid;
  border-width: 0px 0px 0px 0px;
  --border-top-width: 0px;
  --border-right-width: 0px;
  --border-bottom-width: 0px;
  --border-left-width: 0px;
  border-color: #efefef;
  --border-color: #efefef;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 20px;
  --padding-right: 20px;
}
.elementor-7225 .elementor-element.elementor-element-a608601 .tf-imagebox {
  text-align: center;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}
.elementor-7225
  .elementor-element.elementor-element-a608601
  .tf-imagebox
  .image {
  max-width: 100%;
  margin: 0px 0px 18px 0px;
}
.elementor-7225
  .elementor-element.elementor-element-a608601
  .tf-imagebox
  .image,
.elementor-7225
  .elementor-element.elementor-element-a608601
  .tf-imagebox
  .image
  img {
  border-radius: 10px 10px 10px 10px;
}
.elementor-7225
  .elementor-element.elementor-element-a608601
  .tf-imagebox
  .image
  img {
  opacity: 1;
}
.elementor-7225
  .elementor-element.elementor-element-a608601
  .tf-imagebox:hover
  .image
  img {
  opacity: 1;
  transform: scale(1);
}
.elementor-7225
  .elementor-element.elementor-element-a608601
  .tf-imagebox
  .image
  .image-overlay {
  background-color: rgba(0, 0, 0, 0.5);
}
.elementor-7225
  .elementor-element.elementor-element-a608601
  .tf-imagebox
  .content {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}
.elementor-7225
  .elementor-element.elementor-element-a608601
  .tf-imagebox
  .content
  .wrap-icon {
  font-size: 70px;
  margin: 0px 0px 0px 0px;
}
.elementor-7225
  .elementor-element.elementor-element-a608601
  .tf-imagebox
  .content
  .wrap-icon
  img {
  width: 70px;
  height: 70px;
  object-fit: cover;
}
.elementor-7225
  .elementor-element.elementor-element-a608601
  .tf-imagebox
  .title
  a {
  font-size: 16px;
  font-weight: 600;
  color: #f15922;
}
.elementor-7225
  .elementor-element.elementor-element-a608601
  .tf-imagebox
  .title
  a:hover {
  color: #ffa920;
}
.elementor-7225
  .elementor-element.elementor-element-a608601
  .tf-imagebox
  .content
  .title {
  margin: 0px 0px 0px 0px;
}
.elementor-7225
  .elementor-element.elementor-element-a608601
  .tf-imagebox
  .description {
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  color: #717580;
  margin: 0px 0px 0px 0px;
}
.elementor-7225
  .elementor-element.elementor-element-a608601
  .tf-imagebox
  .tf-button {
  font-size: 13px;
  font-weight: 600;
  padding: 0px 0px 0px 0px;
  margin: 20px 0px 0px 0px;
  color: #1c1c1e;
}
.elementor-7225
  .elementor-element.elementor-element-a608601
  .tf-imagebox
  .tf-button
  i {
  color: #1c1c1e;
  font-size: 18px;
}
.elementor-7225
  .elementor-element.elementor-element-a608601
  .tf-imagebox
  .tf-button
  svg {
  fill: #1c1c1e;
  width: 18px;
}
.elementor-7225
  .elementor-element.elementor-element-a608601
  .tf-imagebox
  .tf-button:hover {
  color: #ffa920;
}
.elementor-7225
  .elementor-element.elementor-element-a608601
  .tf-imagebox
  .tf-button:hover
  i {
  color: #ffa920;
}
.elementor-7225
  .elementor-element.elementor-element-a608601
  .tf-imagebox
  .tf-button:hover
  svg {
  fill: #ffa920;
}
.elementor-7225
  .elementor-element.elementor-element-a608601
  .tf-imagebox
  .tf-button.bt_icon_before
  i {
  margin-right: 10px;
}
.elementor-7225
  .elementor-element.elementor-element-a608601
  .tf-imagebox
  .tf-button.bt_icon_before
  svg {
  margin-right: 10px;
}
.elementor-7225
  .elementor-element.elementor-element-a608601
  .tf-imagebox
  .tf-button.bt_icon_after
  i {
  margin-left: 10px;
}
.elementor-7225
  .elementor-element.elementor-element-a608601
  .tf-imagebox
  .tf-button.bt_icon_after
  svg {
  margin-left: 10px;
}
.rtl
  .elementor-7225
  .elementor-element.elementor-element-a608601
  .tf-imagebox
  .tf-button.bt_icon_before
  i {
  margin-left: 10px;
  margin-right: 0;
}
.rtl
  .elementor-7225
  .elementor-element.elementor-element-a608601
  .tf-imagebox
  .tf-button.bt_icon_before
  svg {
  margin-left: 10px;
  margin-right: 0;
}
.rtl
  .elementor-7225
  .elementor-element.elementor-element-a608601
  .tf-imagebox
  .tf-button.bt_icon_after
  i {
  margin-right: 10px;
  margin-left: 0;
}
.rtl
  .elementor-7225
  .elementor-element.elementor-element-a608601
  .tf-imagebox
  .tf-button.bt_icon_after
  svg {
  margin-right: 10px;
  margin-left: 0;
}
.elementor-7225
  .elementor-element.elementor-element-556f606
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: flex-start;
  align-items: flex-start;
}
.elementor-7225
  .elementor-element.elementor-element-556f606
  > .elementor-background-overlay {
  opacity: 0.4;
}
.elementor-7225 .elementor-element.elementor-element-556f606 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-7225 .elementor-element.elementor-element-c4fa7f2 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --overflow: hidden;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 15px;
  --padding-right: 15px;
}
.elementor-7225
  .elementor-element.elementor-element-c4fa7f2:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-7225
  .elementor-element.elementor-element-c4fa7f2
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("https://realtydoor.com/wp-content/uploads/2024/02/bg3_09.webp");
}
.elementor-7225 .elementor-element.elementor-element-663e51e {
  --display: flex;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 100px;
  --padding-bottom: 100px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-7225 .elementor-element.elementor-element-cc42d8d {
  width: var(--container-widget-width, 62%);
  max-width: 62%;
  --container-widget-width: 62%;
  --container-widget-flex-grow: 0;
}
.elementor-7225
  .elementor-element.elementor-element-cc42d8d
  > .elementor-widget-container {
  margin: 0px 0px 28px 0px;
}
.elementor-7225 .elementor-element.elementor-element-cc42d8d.elementor-element {
  --align-self: flex-start;
}
.elementor-7225
  .elementor-element.elementor-element-cc42d8d
  .tf-title-section
  .title-section {
  text-align: left;
}
.elementor-7225 .elementor-element.elementor-element-8ce4ebb {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --justify-content: center;
  --align-items: center;
  --border-radius: 10px 10px 10px 10px;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 30px;
  --padding-bottom: 10px;
  --padding-left: 30px;
  --padding-right: 30px;
}
.elementor-7225
  .elementor-element.elementor-element-8ce4ebb:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-7225
  .elementor-element.elementor-element-8ce4ebb
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #ffffff;
}
.elementor-7225
  .elementor-element.elementor-element-c6e812d
  .tficonbox
  .wrap-icon::after {
  display: none;
}
.elementor-7225
  .elementor-element.elementor-element-c6e812d
  .tficonbox
  .wrap-icon-inner
  i {
  font-size: 81px;
}
.elementor-7225
  .elementor-element.elementor-element-c6e812d
  .tficonbox
  .wrap-icon-inner
  svg,
.elementor-7225
  .elementor-element.elementor-element-c6e812d
  .tficonbox
  .wrap-icon-inner
  img {
  width: 81px;
}
.elementor-7225
  .elementor-element.elementor-element-c6e812d
  .tficonbox
  .wrap-icon-inner {
  transform: rotate(0deg);
}
.elementor-7225
  .elementor-element.elementor-element-c6e812d
  .tficonbox
  .wrap-icon-inner
  i,
.elementor-7225
  .elementor-element.elementor-element-c6e812d
  .tficonbox
  .wrap-icon-inner
  svg {
  transform: rotate(0deg);
}
.elementor-7225
  .elementor-element.elementor-element-c6e812d
  .tficonbox
  .wrap-icon-inner
  img {
  transform: rotate(0deg);
}
.elementor-7225
  .elementor-element.elementor-element-c6e812d
  .tficonbox
  .wrap-icon-inner,
.elementor-7225
  .elementor-element.elementor-element-c6e812d
  .tficonbox
  .wrap-icon-inner
  svg {
  color: #ffa920;
  fill: #ffa920;
}
.elementor-7225
  .elementor-element.elementor-element-c6e812d
  .tficonbox
  .wrap-icon
  .wrap-icon-inner
  svg
  path {
  stroke: #ffa920;
}
.elementor-7225
  .elementor-element.elementor-element-c6e812d
  .tficonbox
  .wrap-icon
  .wrap-icon-inner
  svg
  path.fill {
  fill: #ffa920;
}
.elementor-7225
  .elementor-element.elementor-element-c6e812d
  .tficonbox
  .content
  .title,
.elementor-7225
  .elementor-element.elementor-element-c6e812d
  .tficonbox
  .content
  .title
  a {
  color: #121212;
}
.elementor-7225
  .elementor-element.elementor-element-c6e812d
  .tficonbox
  .content
  .title {
  margin: 0px 0px 4px 0px;
}
.elementor-7225
  .elementor-element.elementor-element-c6e812d
  .tficonbox
  .content
  .description {
  color: #64666c;
}
.elementor-7225
  .elementor-element.elementor-element-c6e812d
  .tficonbox
  .tf-button {
  font-size: 17px;
  font-weight: 600;
  line-height: 150%;
  padding: 0px 0px 0px 0px;
  margin: 10px 20px 20px 0px;
  color: #f15922;
}
.elementor-7225
  .elementor-element.elementor-element-c6e812d
  .tficonbox
  .tf-button
  i {
  color: #f15922;
  font-size: 15px;
}
.elementor-7225
  .elementor-element.elementor-element-c6e812d
  .tficonbox
  .tf-button
  svg {
  fill: #f15922;
  width: 15px;
}
.elementor-7225
  .elementor-element.elementor-element-c6e812d
  .tficonbox
  .tf-button.has-line:after {
  background-color: #f15922;
}
.elementor-7225
  .elementor-element.elementor-element-c6e812d
  .tficonbox
  .tf-button.bt_icon_before
  i {
  margin-right: 7px;
}
.elementor-7225
  .elementor-element.elementor-element-c6e812d
  .tficonbox
  .tf-button.bt_icon_before
  svg {
  margin-right: 7px;
}
.elementor-7225
  .elementor-element.elementor-element-c6e812d
  .tficonbox
  .tf-button.bt_icon_after
  i {
  margin-left: 7px;
}
.elementor-7225
  .elementor-element.elementor-element-c6e812d
  .tficonbox
  .tf-button.bt_icon_after
  svg {
  margin-left: 7px;
}
.rtl
  .elementor-7225
  .elementor-element.elementor-element-c6e812d
  .tficonbox
  .tf-button.bt_icon_before
  i {
  margin-left: 7px;
  margin-right: 0;
}
.rtl
  .elementor-7225
  .elementor-element.elementor-element-c6e812d
  .tficonbox
  .tf-button.bt_icon_before
  svg {
  margin-left: 7px;
  margin-right: 0;
}
.rtl
  .elementor-7225
  .elementor-element.elementor-element-c6e812d
  .tficonbox
  .tf-button.bt_icon_after
  i {
  margin-right: 7px;
  margin-left: 0;
}
.rtl
  .elementor-7225
  .elementor-element.elementor-element-c6e812d
  .tficonbox
  .tf-button.bt_icon_after
  svg {
  margin-right: 7px;
  margin-left: 0;
}
.elementor-7225
  .elementor-element.elementor-element-c6e812d
  .tficonbox
  .tf-button:hover {
  color: #000000;
}
.elementor-7225
  .elementor-element.elementor-element-c6e812d
  .tficonbox
  .tf-button:hover
  i {
  color: #000000;
}
.elementor-7225
  .elementor-element.elementor-element-c6e812d
  .tficonbox
  .tf-button:hover
  svg {
  fill: #000000;
}
.elementor-7225
  .elementor-element.elementor-element-c6e812d
  .tficonbox
  .tf-button.has-line:hover:after {
  background-color: #000000;
}
.elementor-7225 .elementor-element.elementor-element-75d07fb {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --justify-content: center;
  --align-items: center;
  --border-radius: 10px 10px 10px 10px;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 30px;
  --padding-bottom: 10px;
  --padding-left: 30px;
  --padding-right: 30px;
}
.elementor-7225
  .elementor-element.elementor-element-75d07fb:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-7225
  .elementor-element.elementor-element-75d07fb
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #ffffff;
}
.elementor-7225
  .elementor-element.elementor-element-24f11d3
  .tficonbox
  .wrap-icon::after {
  display: none;
}
.elementor-7225
  .elementor-element.elementor-element-24f11d3
  .tficonbox
  .wrap-icon-inner
  i {
  font-size: 81px;
}
.elementor-7225
  .elementor-element.elementor-element-24f11d3
  .tficonbox
  .wrap-icon-inner
  svg,
.elementor-7225
  .elementor-element.elementor-element-24f11d3
  .tficonbox
  .wrap-icon-inner
  img {
  width: 81px;
}
.elementor-7225
  .elementor-element.elementor-element-24f11d3
  .tficonbox
  .wrap-icon-inner {
  transform: rotate(0deg);
}
.elementor-7225
  .elementor-element.elementor-element-24f11d3
  .tficonbox
  .wrap-icon-inner
  i,
.elementor-7225
  .elementor-element.elementor-element-24f11d3
  .tficonbox
  .wrap-icon-inner
  svg {
  transform: rotate(0deg);
}
.elementor-7225
  .elementor-element.elementor-element-24f11d3
  .tficonbox
  .wrap-icon-inner
  img {
  transform: rotate(0deg);
}
.elementor-7225
  .elementor-element.elementor-element-24f11d3
  .tficonbox
  .wrap-icon-inner,
.elementor-7225
  .elementor-element.elementor-element-24f11d3
  .tficonbox
  .wrap-icon-inner
  svg {
  color: #ffa920;
  fill: #ffa920;
}
.elementor-7225
  .elementor-element.elementor-element-24f11d3
  .tficonbox
  .wrap-icon
  .wrap-icon-inner
  svg
  path {
  stroke: #ffa920;
}
.elementor-7225
  .elementor-element.elementor-element-24f11d3
  .tficonbox
  .wrap-icon
  .wrap-icon-inner
  svg
  path.fill {
  fill: #ffa920;
}
.elementor-7225
  .elementor-element.elementor-element-24f11d3
  .tficonbox
  .content
  .title,
.elementor-7225
  .elementor-element.elementor-element-24f11d3
  .tficonbox
  .content
  .title
  a {
  color: #121212;
}
.elementor-7225
  .elementor-element.elementor-element-24f11d3
  .tficonbox
  .content
  .title {
  margin: 0px 0px 4px 0px;
}
.elementor-7225
  .elementor-element.elementor-element-24f11d3
  .tficonbox
  .content
  .description {
  color: #64666c;
}
.elementor-7225
  .elementor-element.elementor-element-24f11d3
  .tficonbox
  .tf-button {
  font-size: 17px;
  font-weight: 600;
  line-height: 150%;
  padding: 0px 0px 0px 0px;
  margin: 10px 20px 20px 0px;
  color: #f15922;
}
.elementor-7225
  .elementor-element.elementor-element-24f11d3
  .tficonbox
  .tf-button
  i {
  color: #f15922;
  font-size: 15px;
}
.elementor-7225
  .elementor-element.elementor-element-24f11d3
  .tficonbox
  .tf-button
  svg {
  fill: #f15922;
  width: 15px;
}
.elementor-7225
  .elementor-element.elementor-element-24f11d3
  .tficonbox
  .tf-button.has-line:after {
  background-color: #f15922;
}
.elementor-7225
  .elementor-element.elementor-element-24f11d3
  .tficonbox
  .tf-button.bt_icon_before
  i {
  margin-right: 7px;
}
.elementor-7225
  .elementor-element.elementor-element-24f11d3
  .tficonbox
  .tf-button.bt_icon_before
  svg {
  margin-right: 7px;
}
.elementor-7225
  .elementor-element.elementor-element-24f11d3
  .tficonbox
  .tf-button.bt_icon_after
  i {
  margin-left: 7px;
}
.elementor-7225
  .elementor-element.elementor-element-24f11d3
  .tficonbox
  .tf-button.bt_icon_after
  svg {
  margin-left: 7px;
}
.rtl
  .elementor-7225
  .elementor-element.elementor-element-24f11d3
  .tficonbox
  .tf-button.bt_icon_before
  i {
  margin-left: 7px;
  margin-right: 0;
}
.rtl
  .elementor-7225
  .elementor-element.elementor-element-24f11d3
  .tficonbox
  .tf-button.bt_icon_before
  svg {
  margin-left: 7px;
  margin-right: 0;
}
.rtl
  .elementor-7225
  .elementor-element.elementor-element-24f11d3
  .tficonbox
  .tf-button.bt_icon_after
  i {
  margin-right: 7px;
  margin-left: 0;
}
.rtl
  .elementor-7225
  .elementor-element.elementor-element-24f11d3
  .tficonbox
  .tf-button.bt_icon_after
  svg {
  margin-right: 7px;
  margin-left: 0;
}
.elementor-7225
  .elementor-element.elementor-element-24f11d3
  .tficonbox
  .tf-button:hover {
  color: #000000;
}
.elementor-7225
  .elementor-element.elementor-element-24f11d3
  .tficonbox
  .tf-button:hover
  i {
  color: #000000;
}
.elementor-7225
  .elementor-element.elementor-element-24f11d3
  .tficonbox
  .tf-button:hover
  svg {
  fill: #000000;
}
.elementor-7225
  .elementor-element.elementor-element-24f11d3
  .tficonbox
  .tf-button.has-line:hover:after {
  background-color: #000000;
}
.elementor-7225 .elementor-element.elementor-element-92e91bb {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --justify-content: center;
  --align-items: center;
  --border-radius: 10px 10px 10px 10px;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 30px;
  --padding-bottom: 10px;
  --padding-left: 30px;
  --padding-right: 30px;
}
.elementor-7225
  .elementor-element.elementor-element-92e91bb:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-7225
  .elementor-element.elementor-element-92e91bb
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #ffffff;
}
.elementor-7225
  .elementor-element.elementor-element-82e9a5a
  .tficonbox
  .wrap-icon::after {
  display: none;
}
.elementor-7225
  .elementor-element.elementor-element-82e9a5a
  .tficonbox
  .wrap-icon-inner
  i {
  font-size: 81px;
}
.elementor-7225
  .elementor-element.elementor-element-82e9a5a
  .tficonbox
  .wrap-icon-inner
  svg,
.elementor-7225
  .elementor-element.elementor-element-82e9a5a
  .tficonbox
  .wrap-icon-inner
  img {
  width: 81px;
}
.elementor-7225
  .elementor-element.elementor-element-82e9a5a
  .tficonbox
  .wrap-icon-inner {
  transform: rotate(0deg);
}
.elementor-7225
  .elementor-element.elementor-element-82e9a5a
  .tficonbox
  .wrap-icon-inner
  i,
.elementor-7225
  .elementor-element.elementor-element-82e9a5a
  .tficonbox
  .wrap-icon-inner
  svg {
  transform: rotate(0deg);
}
.elementor-7225
  .elementor-element.elementor-element-82e9a5a
  .tficonbox
  .wrap-icon-inner
  img {
  transform: rotate(0deg);
}
.elementor-7225
  .elementor-element.elementor-element-82e9a5a
  .tficonbox
  .wrap-icon-inner,
.elementor-7225
  .elementor-element.elementor-element-82e9a5a
  .tficonbox
  .wrap-icon-inner
  svg {
  color: #ffa920;
  fill: #ffa920;
}
.elementor-7225
  .elementor-element.elementor-element-82e9a5a
  .tficonbox
  .wrap-icon
  .wrap-icon-inner
  svg
  path {
  stroke: #ffa920;
}
.elementor-7225
  .elementor-element.elementor-element-82e9a5a
  .tficonbox
  .wrap-icon
  .wrap-icon-inner
  svg
  path.fill {
  fill: #ffa920;
}
.elementor-7225
  .elementor-element.elementor-element-82e9a5a
  .tficonbox
  .content
  .title,
.elementor-7225
  .elementor-element.elementor-element-82e9a5a
  .tficonbox
  .content
  .title
  a {
  color: #121212;
}
.elementor-7225
  .elementor-element.elementor-element-82e9a5a
  .tficonbox
  .content
  .title {
  margin: 0px 0px 4px 0px;
}
.elementor-7225
  .elementor-element.elementor-element-82e9a5a
  .tficonbox
  .content
  .description {
  color: #64666c;
}
.elementor-7225
  .elementor-element.elementor-element-82e9a5a
  .tficonbox
  .tf-button {
  font-size: 17px;
  font-weight: 600;
  line-height: 150%;
  padding: 0px 0px 0px 0px;
  margin: 10px 20px 20px 0px;
  color: #f15922;
}
.elementor-7225
  .elementor-element.elementor-element-82e9a5a
  .tficonbox
  .tf-button
  i {
  color: #f15922;
  font-size: 15px;
}
.elementor-7225
  .elementor-element.elementor-element-82e9a5a
  .tficonbox
  .tf-button
  svg {
  fill: #f15922;
  width: 15px;
}
.elementor-7225
  .elementor-element.elementor-element-82e9a5a
  .tficonbox
  .tf-button.has-line:after {
  background-color: #f15922;
}
.elementor-7225
  .elementor-element.elementor-element-82e9a5a
  .tficonbox
  .tf-button.bt_icon_before
  i {
  margin-right: 7px;
}
.elementor-7225
  .elementor-element.elementor-element-82e9a5a
  .tficonbox
  .tf-button.bt_icon_before
  svg {
  margin-right: 7px;
}
.elementor-7225
  .elementor-element.elementor-element-82e9a5a
  .tficonbox
  .tf-button.bt_icon_after
  i {
  margin-left: 7px;
}
.elementor-7225
  .elementor-element.elementor-element-82e9a5a
  .tficonbox
  .tf-button.bt_icon_after
  svg {
  margin-left: 7px;
}
.rtl
  .elementor-7225
  .elementor-element.elementor-element-82e9a5a
  .tficonbox
  .tf-button.bt_icon_before
  i {
  margin-left: 7px;
  margin-right: 0;
}
.rtl
  .elementor-7225
  .elementor-element.elementor-element-82e9a5a
  .tficonbox
  .tf-button.bt_icon_before
  svg {
  margin-left: 7px;
  margin-right: 0;
}
.rtl
  .elementor-7225
  .elementor-element.elementor-element-82e9a5a
  .tficonbox
  .tf-button.bt_icon_after
  i {
  margin-right: 7px;
  margin-left: 0;
}
.rtl
  .elementor-7225
  .elementor-element.elementor-element-82e9a5a
  .tficonbox
  .tf-button.bt_icon_after
  svg {
  margin-right: 7px;
  margin-left: 0;
}
.elementor-7225
  .elementor-element.elementor-element-82e9a5a
  .tficonbox
  .tf-button:hover {
  color: #000000;
}
.elementor-7225
  .elementor-element.elementor-element-82e9a5a
  .tficonbox
  .tf-button:hover
  i {
  color: #000000;
}
.elementor-7225
  .elementor-element.elementor-element-82e9a5a
  .tficonbox
  .tf-button:hover
  svg {
  fill: #000000;
}
.elementor-7225
  .elementor-element.elementor-element-82e9a5a
  .tficonbox
  .tf-button.has-line:hover:after {
  background-color: #000000;
}
.elementor-7225 .elementor-element.elementor-element-3ee7806 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --justify-content: center;
  --align-items: center;
  --border-radius: 10px 10px 10px 10px;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 30px;
  --padding-bottom: 10px;
  --padding-left: 30px;
  --padding-right: 30px;
}
.elementor-7225
  .elementor-element.elementor-element-3ee7806:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-7225
  .elementor-element.elementor-element-3ee7806
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #ffffff;
}
.elementor-7225
  .elementor-element.elementor-element-7b9dd60
  .tficonbox
  .wrap-icon::after {
  display: none;
}
.elementor-7225
  .elementor-element.elementor-element-7b9dd60
  .tficonbox
  .wrap-icon-inner
  i {
  font-size: 81px;
}
.elementor-7225
  .elementor-element.elementor-element-7b9dd60
  .tficonbox
  .wrap-icon-inner
  svg,
.elementor-7225
  .elementor-element.elementor-element-7b9dd60
  .tficonbox
  .wrap-icon-inner
  img {
  width: 81px;
}
.elementor-7225
  .elementor-element.elementor-element-7b9dd60
  .tficonbox
  .wrap-icon-inner {
  transform: rotate(0deg);
}
.elementor-7225
  .elementor-element.elementor-element-7b9dd60
  .tficonbox
  .wrap-icon-inner
  i,
.elementor-7225
  .elementor-element.elementor-element-7b9dd60
  .tficonbox
  .wrap-icon-inner
  svg {
  transform: rotate(0deg);
}
.elementor-7225
  .elementor-element.elementor-element-7b9dd60
  .tficonbox
  .wrap-icon-inner
  img {
  transform: rotate(0deg);
}
.elementor-7225
  .elementor-element.elementor-element-7b9dd60
  .tficonbox
  .wrap-icon-inner,
.elementor-7225
  .elementor-element.elementor-element-7b9dd60
  .tficonbox
  .wrap-icon-inner
  svg {
  color: #ffa920;
  fill: #ffa920;
}
.elementor-7225
  .elementor-element.elementor-element-7b9dd60
  .tficonbox
  .wrap-icon
  .wrap-icon-inner
  svg
  path {
  stroke: #ffa920;
}
.elementor-7225
  .elementor-element.elementor-element-7b9dd60
  .tficonbox
  .wrap-icon
  .wrap-icon-inner
  svg
  path.fill {
  fill: #ffa920;
}
.elementor-7225
  .elementor-element.elementor-element-7b9dd60
  .tficonbox
  .content
  .title,
.elementor-7225
  .elementor-element.elementor-element-7b9dd60
  .tficonbox
  .content
  .title
  a {
  color: #121212;
}
.elementor-7225
  .elementor-element.elementor-element-7b9dd60
  .tficonbox
  .content
  .title {
  margin: 0px 0px 4px 0px;
}
.elementor-7225
  .elementor-element.elementor-element-7b9dd60
  .tficonbox
  .content
  .description {
  color: #64666c;
}
.elementor-7225
  .elementor-element.elementor-element-7b9dd60
  .tficonbox
  .tf-button {
  font-size: 17px;
  font-weight: 600;
  line-height: 150%;
  padding: 0px 0px 0px 0px;
  margin: 10px 20px 20px 0px;
  color: #f15922;
}
.elementor-7225
  .elementor-element.elementor-element-7b9dd60
  .tficonbox
  .tf-button
  i {
  color: #f15922;
  font-size: 15px;
}
.elementor-7225
  .elementor-element.elementor-element-7b9dd60
  .tficonbox
  .tf-button
  svg {
  fill: #f15922;
  width: 15px;
}
.elementor-7225
  .elementor-element.elementor-element-7b9dd60
  .tficonbox
  .tf-button.has-line:after {
  background-color: #f15922;
}
.elementor-7225
  .elementor-element.elementor-element-7b9dd60
  .tficonbox
  .tf-button.bt_icon_before
  i {
  margin-right: 7px;
}
.elementor-7225
  .elementor-element.elementor-element-7b9dd60
  .tficonbox
  .tf-button.bt_icon_before
  svg {
  margin-right: 7px;
}
.elementor-7225
  .elementor-element.elementor-element-7b9dd60
  .tficonbox
  .tf-button.bt_icon_after
  i {
  margin-left: 7px;
}
.elementor-7225
  .elementor-element.elementor-element-7b9dd60
  .tficonbox
  .tf-button.bt_icon_after
  svg {
  margin-left: 7px;
}
.rtl
  .elementor-7225
  .elementor-element.elementor-element-7b9dd60
  .tficonbox
  .tf-button.bt_icon_before
  i {
  margin-left: 7px;
  margin-right: 0;
}
.rtl
  .elementor-7225
  .elementor-element.elementor-element-7b9dd60
  .tficonbox
  .tf-button.bt_icon_before
  svg {
  margin-left: 7px;
  margin-right: 0;
}
.rtl
  .elementor-7225
  .elementor-element.elementor-element-7b9dd60
  .tficonbox
  .tf-button.bt_icon_after
  i {
  margin-right: 7px;
  margin-left: 0;
}
.rtl
  .elementor-7225
  .elementor-element.elementor-element-7b9dd60
  .tficonbox
  .tf-button.bt_icon_after
  svg {
  margin-right: 7px;
  margin-left: 0;
}
.elementor-7225
  .elementor-element.elementor-element-7b9dd60
  .tficonbox
  .tf-button:hover {
  color: #000000;
}
.elementor-7225
  .elementor-element.elementor-element-7b9dd60
  .tficonbox
  .tf-button:hover
  i {
  color: #000000;
}
.elementor-7225
  .elementor-element.elementor-element-7b9dd60
  .tficonbox
  .tf-button:hover
  svg {
  fill: #000000;
}
.elementor-7225
  .elementor-element.elementor-element-7b9dd60
  .tficonbox
  .tf-button.has-line:hover:after {
  background-color: #000000;
}
.elementor-7225 .elementor-element.elementor-element-490c0cb {
  --display: flex;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-7225
  .elementor-element.elementor-element-a7460ed
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-7225 .elementor-element.elementor-element-a7460ed.elementor-element {
  --align-self: flex-start;
  --order: 99999 /* order end hack */;
}
body:not(.rtl) .elementor-7225 .elementor-element.elementor-element-a7460ed {
  left: 1px;
}
body.rtl .elementor-7225 .elementor-element.elementor-element-a7460ed {
  right: 1px;
}
.elementor-7225 .elementor-element.elementor-element-a7460ed {
  bottom: 0px;
  text-align: left;
}
.elementor-7225
  .elementor-element.elementor-element-12d8d5f
  > .elementor-widget-container {
  margin: 143px -230px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-7225 .elementor-element.elementor-element-12d8d5f img {
  border-radius: 10px 10px 10px 10px;
}
body.elementor-page-7225 #footer {
  display: block;
}
body.elementor-page-7225 .info-footer {
  display: block;
}
body.elementor-page-7225 #bottom {
  display: block;
}
body.elementor-page-7225 .page-title {
  display: block;
}
@media (min-width: 768px) {
  .elementor-7225 .elementor-element.elementor-element-663e51e {
    --content-width: 540px;
  }
}
@media (max-width: 1024px) {
  .elementor-7225 .elementor-element.elementor-element-b5baf2e {
    padding: 150px 0px 150px 0px;
  }
  .elementor-7225
    .elementor-element.elementor-element-d137f51
    .tf-title-section
    .title-section
    .heading {
    font-size: 45px;
  }
  .elementor-7225 .elementor-element.elementor-element-2c6ad88 {
    /* padding: 150px 0px 150px 0px; */
  }
  .elementor-7225
    .elementor-element.elementor-element-2fc7711
    .tf-imagebox
    .image {
    max-width: 100%;
  }
  .elementor-7225
    .elementor-element.elementor-element-35e2f59
    .tf-imagebox
    .image {
    max-width: 100%;
  }
  .elementor-7225
    .elementor-element.elementor-element-a608601
    .tf-imagebox
    .image {
    max-width: 100%;
  }
  .elementor-7225 .elementor-element.elementor-element-556f606 {
    /* padding: 150px 0px 150px 0px; */
  }
}
@media (max-width: 767px) {
  .elementor-7225
    .elementor-element.elementor-element-d137f51
    .tf-title-section
    .title-section
    .heading {
    font-size: 40px;
  }
  .elementor-7225
    .elementor-element.elementor-element-2fc7711
    > .elementor-widget-container {
    margin: 0px 0px 30px 0px;
  }
  .elementor-7225
    .elementor-element.elementor-element-2fc7711
    .tf-imagebox
    .image {
    max-width: 100%;
  }
  .elementor-7225
    .elementor-element.elementor-element-35e2f59
    > .elementor-widget-container {
    margin: 0px 0px 30px 0px;
  }
  .elementor-7225
    .elementor-element.elementor-element-35e2f59
    .tf-imagebox
    .image {
    max-width: 100%;
  }
  .elementor-7225
    .elementor-element.elementor-element-a608601
    > .elementor-widget-container {
    margin: 0px 0px 30px 0px;
  }
  .elementor-7225
    .elementor-element.elementor-element-a608601
    .tf-imagebox
    .image {
    max-width: 100%;
  }
  .elementor-7225 .elementor-element.elementor-element-663e51e {
    --padding-top: 50px;
    --padding-bottom: 30px;
    --padding-left: 0px;
    --padding-right: 0px;
  }
  .elementor-7225 .elementor-element.elementor-element-490c0cb {
    --margin-top: 0em;
    --margin-bottom: 3em;
    --margin-left: 0em;
    --margin-right: 0em;
  }
  .elementor-7225
    .elementor-element.elementor-element-12d8d5f
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
  }
}
