.elementor-7819
  .elementor-element.elementor-element-462bf94
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: flex-start;
  align-items: flex-start;
}
.elementor-7819
  .elementor-element.elementor-element-462bf94
  > .elementor-background-overlay {
  background-color: #000000;
  opacity: 0.4;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-7819
  .elementor-element.elementor-element-462bf94
  .elementor-background-slideshow__slide__image {
  background-size: cover;
  background-position: center center;
}
.elementor-7819 .elementor-element.elementor-element-462bf94 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 100px 0px 100px 0px;
}
.elementor-7819
  .elementor-element.elementor-element-8eaedf1
  > .elementor-container {
  max-width: 1134px;
}
.elementor-7819
  .elementor-element.elementor-element-4ccdd90
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(
    .elementor-widget__width-initial
  ):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0px;
}
.elementor-7819 .elementor-element.elementor-element-3ad515f {
  width: var(--container-widget-width, 41%);
  max-width: 41%;
  --container-widget-width: 41%;
  --container-widget-flex-grow: 0;
}
.elementor-7819
  .elementor-element.elementor-element-3ad515f
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
}
.elementor-7819
  .elementor-element.elementor-element-3ad515f
  .tf-title-section
  .title-section {
  text-align: left;
}
.elementor-7819
  .elementor-element.elementor-element-3ad515f
  .tf-title-section
  .title-section
  .heading {
  font-size: 60px;
  line-height: 1.2em;
  color: #ffffff;
}
.elementor-7819
  .elementor-element.elementor-element-3ad515f
  .tf-title-section
  .title-section
  .description {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #ffffff;
  margin: 0px 0px 0px 0px;
}
.elementor-7819 .elementor-element.elementor-element-a117392 {
  overflow: hidden;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 100px 0px 0px 0px;
}
.elementor-7819
  .elementor-element.elementor-element-1c77116
  > .elementor-element-populated {
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-7819 .elementor-element.elementor-element-36dfe31 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --gap: 85px 85px;
  --row-gap: 85px;
  --column-gap: 85px;
  --margin-top: 0px;
  --margin-bottom: 110px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 15px;
  --padding-right: 15px;
}
.elementor-7819 .elementor-element.elementor-element-f958fda {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --align-items: center;
  --gap: 70px 70px;
  --row-gap: 70px;
  --column-gap: 70px;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-7819 .elementor-element.elementor-element-aebb7ac {
  --display: flex;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-7819 .elementor-element.elementor-element-aebb7ac.e-con {
  --order: -99999 /* order start hack */;
  --flex-grow: 0;
  --flex-shrink: 0;
}
.elementor-7819 .elementor-element.elementor-element-da62751.elementor-element {
  --align-self: flex-start;
}
.elementor-7819 .elementor-element.elementor-element-9e1f81d {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --gap: 50px 50px;
  --row-gap: 50px;
  --column-gap: 50px;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-7819 .elementor-element.elementor-element-3795fee {
  --display: flex;
  --margin-top: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-7819 .elementor-element.elementor-element-dc75f6e {
  font-family: "Poppins", Sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 150%;
  color: #3a3a3c;
}
.elementor-7819 .elementor-element.elementor-element-91e7c4f {
  font-weight: 400;
  line-height: 150%;
  color: #3a3a3c;
}
.elementor-7819
  .elementor-element.elementor-element-4439e1d:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-7819
  .elementor-element.elementor-element-4439e1d
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("https://realtydoor.com/wp-content/uploads/2024/05/realtydoor-call-toaction.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-7819
  .elementor-element.elementor-element-4439e1d
  > .elementor-background-overlay {
  background-color: transparent;
  background-image: linear-gradient(180deg, #1c1c1eb8 0%, #1c1c1e 100%);
  opacity: 0.9;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-7819 .elementor-element.elementor-element-4439e1d {
  overflow: hidden;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 85px 0px 90px 0px;
}
.elementor-7819
  .elementor-element.elementor-element-3d99610
  > .elementor-container {
  max-width: 1140px;
}
.elementor-7819
  .elementor-element.elementor-element-3d99610
  .elementor-column-gap-custom
  .elementor-column
  > .elementor-element-populated {
  padding: 15px;
}
.elementor-7819 .elementor-element.elementor-element-3d99610 {
  margin-top: 0px;
  margin-bottom: 0px;
}
.elementor-bc-flex-widget
  .elementor-7819
  .elementor-element.elementor-element-5e95af3.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-7819
  .elementor-element.elementor-element-5e95af3.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-7819
  .elementor-element.elementor-element-5e95af3.elementor-column
  > .elementor-widget-wrap {
  justify-content: flex-start;
}
.elementor-7819
  .elementor-element.elementor-element-5e95af3
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(
    .elementor-widget__width-initial
  ):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0px;
}
.elementor-7819 .elementor-element.elementor-element-d7fb916 {
  width: var(--container-widget-width, 90%);
  max-width: 90%;
  --container-widget-width: 90%;
  --container-widget-flex-grow: 0;
}
.elementor-7819
  .elementor-element.elementor-element-d7fb916
  > .elementor-widget-container {
  margin: 60px 0px 50px 0px;
}
.elementor-7819
  .elementor-element.elementor-element-d7fb916
  .tf-title-section
  .title-section {
  text-align: left;
}
.elementor-7819
  .elementor-element.elementor-element-d7fb916
  .tf-title-section
  .title-section
  .heading {
  font-family: "Mulish", Sans-serif;
  font-size: 45px;
  font-weight: 700;
  text-transform: none;
  line-height: 1.2444444444444em;
  color: #ffffff;
}
.elementor-7819
  .elementor-element.elementor-element-d7fb916
  .tf-title-section
  .title-section
  .description {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #f1faee;
}
.elementor-7819
  .elementor-element.elementor-element-cae85a8
  > .elementor-widget-container {
  margin: 0px 0px 39px 0px;
}
.elementor-7819 .elementor-element.elementor-element-cae85a8 .tficonbox {
  align-items: center;
}
.elementor-7819
  .elementor-element.elementor-element-cae85a8
  .tficonbox
  .wrap-icon::after {
  display: block;
  right: -24px;
}
.elementor-7819
  .elementor-element.elementor-element-cae85a8
  .tficonbox
  .wrap-icon::after {
  background-color: #ffffff;
}
.elementor-7819
  .elementor-element.elementor-element-cae85a8
  .tficonbox
  .wrap-icon-inner
  i {
  font-size: 49px;
}
.elementor-7819
  .elementor-element.elementor-element-cae85a8
  .tficonbox
  .wrap-icon-inner
  svg,
.elementor-7819
  .elementor-element.elementor-element-cae85a8
  .tficonbox
  .wrap-icon-inner
  img {
  width: 49px;
}
.elementor-7819
  .elementor-element.elementor-element-cae85a8
  .tficonbox
  .wrap-icon-inner {
  transform: rotate(0deg);
}
.elementor-7819
  .elementor-element.elementor-element-cae85a8
  .tficonbox
  .wrap-icon-inner
  i,
.elementor-7819
  .elementor-element.elementor-element-cae85a8
  .tficonbox
  .wrap-icon-inner
  svg {
  transform: rotate(0deg);
}
.elementor-7819
  .elementor-element.elementor-element-cae85a8
  .tficonbox
  .wrap-icon-inner
  img {
  transform: rotate(0deg);
}
.elementor-7819
  .elementor-element.elementor-element-cae85a8
  .tficonbox
  .wrap-icon {
  margin: 0px 47px 0px 0px;
}
.elementor-7819
  .elementor-element.elementor-element-cae85a8
  .tficonbox
  .content
  .title {
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  margin: 0px 0px 2px 0px;
}
.elementor-7819
  .elementor-element.elementor-element-cae85a8
  .tficonbox
  .content
  .title,
.elementor-7819
  .elementor-element.elementor-element-cae85a8
  .tficonbox
  .content
  .title
  a {
  color: #ffffff;
}
.elementor-7819
  .elementor-element.elementor-element-cae85a8
  .tficonbox
  .content
  .description {
  font-family: "Mulish", Sans-serif;
  font-size: 30px;
  font-weight: 800;
  line-height: 38px;
  color: #ffffff;
}
.elementor-7819
  .elementor-element.elementor-element-cae85a8
  .tficonbox
  .tf-button {
  padding: 0px 0px 0px 0px;
  margin: 20px 0px 0px 0px;
}
.elementor-7819
  .elementor-element.elementor-element-cae85a8
  .tficonbox
  .tf-button
  i {
  font-size: 15px;
}
.elementor-7819
  .elementor-element.elementor-element-cae85a8
  .tficonbox
  .tf-button
  svg {
  width: 15px;
}
.elementor-7819
  .elementor-element.elementor-element-cae85a8
  .tficonbox
  .tf-button.bt_icon_before
  i {
  margin-right: 7px;
}
.elementor-7819
  .elementor-element.elementor-element-cae85a8
  .tficonbox
  .tf-button.bt_icon_before
  svg {
  margin-right: 7px;
}
.elementor-7819
  .elementor-element.elementor-element-cae85a8
  .tficonbox
  .tf-button.bt_icon_after
  i {
  margin-left: 7px;
}
.elementor-7819
  .elementor-element.elementor-element-cae85a8
  .tficonbox
  .tf-button.bt_icon_after
  svg {
  margin-left: 7px;
}
.rtl
  .elementor-7819
  .elementor-element.elementor-element-cae85a8
  .tficonbox
  .tf-button.bt_icon_before
  i {
  margin-left: 7px;
  margin-right: 0;
}
.rtl
  .elementor-7819
  .elementor-element.elementor-element-cae85a8
  .tficonbox
  .tf-button.bt_icon_before
  svg {
  margin-left: 7px;
  margin-right: 0;
}
.rtl
  .elementor-7819
  .elementor-element.elementor-element-cae85a8
  .tficonbox
  .tf-button.bt_icon_after
  i {
  margin-right: 7px;
  margin-left: 0;
}
.rtl
  .elementor-7819
  .elementor-element.elementor-element-cae85a8
  .tficonbox
  .tf-button.bt_icon_after
  svg {
  margin-right: 7px;
  margin-left: 0;
}
.elementor-7819
  .elementor-element.elementor-element-cae85a8
  .tficonbox
  .tf-button:hover {
  color: #ffa920;
}
.elementor-7819
  .elementor-element.elementor-element-cae85a8
  .tficonbox
  .tf-button:hover
  i {
  color: #ffa920;
}
.elementor-7819
  .elementor-element.elementor-element-cae85a8
  .tficonbox
  .tf-button:hover
  svg {
  fill: #ffa920;
}
.elementor-7819
  .elementor-element.elementor-element-cae85a8
  .tficonbox
  .tf-button.has-line:hover:after {
  background-color: #ffa920;
}
.elementor-7819
  .elementor-element.elementor-element-e45115f
  > .elementor-widget-container {
  margin: 0px 0px 29px 0px;
}
.elementor-7819 .elementor-element.elementor-element-e45115f .tficonbox {
  align-items: center;
}
.elementor-7819
  .elementor-element.elementor-element-e45115f
  .tficonbox
  .wrap-icon::after {
  display: block;
  right: -24px;
}
.elementor-7819
  .elementor-element.elementor-element-e45115f
  .tficonbox
  .wrap-icon::after {
  background-color: #ffffff;
}
.elementor-7819
  .elementor-element.elementor-element-e45115f
  .tficonbox
  .wrap-icon-inner
  i {
  font-size: 50px;
}
.elementor-7819
  .elementor-element.elementor-element-e45115f
  .tficonbox
  .wrap-icon-inner
  svg,
.elementor-7819
  .elementor-element.elementor-element-e45115f
  .tficonbox
  .wrap-icon-inner
  img {
  width: 50px;
}
.elementor-7819
  .elementor-element.elementor-element-e45115f
  .tficonbox
  .wrap-icon-inner {
  transform: rotate(0deg);
}
.elementor-7819
  .elementor-element.elementor-element-e45115f
  .tficonbox
  .wrap-icon-inner
  i,
.elementor-7819
  .elementor-element.elementor-element-e45115f
  .tficonbox
  .wrap-icon-inner
  svg {
  transform: rotate(0deg);
}
.elementor-7819
  .elementor-element.elementor-element-e45115f
  .tficonbox
  .wrap-icon-inner
  img {
  transform: rotate(0deg);
}
.elementor-7819
  .elementor-element.elementor-element-e45115f
  .tficonbox
  .wrap-icon {
  margin: 0px 47px 0px 0px;
}
.elementor-7819
  .elementor-element.elementor-element-e45115f
  .tficonbox
  .wrap-icon-inner,
.elementor-7819
  .elementor-element.elementor-element-e45115f
  .tficonbox
  .wrap-icon-inner
  svg {
  color: #ffffff;
  fill: #ffffff;
}
.elementor-7819
  .elementor-element.elementor-element-e45115f
  .tficonbox
  .wrap-icon
  .wrap-icon-inner
  svg
  path {
  stroke: #ffffff;
}
.elementor-7819
  .elementor-element.elementor-element-e45115f
  .tficonbox
  .wrap-icon
  .wrap-icon-inner
  svg
  path.fill {
  fill: #ffffff;
}
.elementor-7819
  .elementor-element.elementor-element-e45115f
  .tficonbox
  .content
  .title {
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  margin: 0px 0px 4px 0px;
}
.elementor-7819
  .elementor-element.elementor-element-e45115f
  .tficonbox
  .content
  .title,
.elementor-7819
  .elementor-element.elementor-element-e45115f
  .tficonbox
  .content
  .title
  a {
  color: #ffffff;
}
.elementor-7819
  .elementor-element.elementor-element-e45115f
  .tficonbox
  .content
  .description {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;
}
.elementor-7819
  .elementor-element.elementor-element-e45115f
  .tficonbox
  .tf-button {
  padding: 0px 0px 0px 0px;
  margin: 20px 0px 0px 0px;
}
.elementor-7819
  .elementor-element.elementor-element-e45115f
  .tficonbox
  .tf-button
  i {
  font-size: 15px;
}
.elementor-7819
  .elementor-element.elementor-element-e45115f
  .tficonbox
  .tf-button
  svg {
  width: 15px;
}
.elementor-7819
  .elementor-element.elementor-element-e45115f
  .tficonbox
  .tf-button.bt_icon_before
  i {
  margin-right: 7px;
}
.elementor-7819
  .elementor-element.elementor-element-e45115f
  .tficonbox
  .tf-button.bt_icon_before
  svg {
  margin-right: 7px;
}
.elementor-7819
  .elementor-element.elementor-element-e45115f
  .tficonbox
  .tf-button.bt_icon_after
  i {
  margin-left: 7px;
}
.elementor-7819
  .elementor-element.elementor-element-e45115f
  .tficonbox
  .tf-button.bt_icon_after
  svg {
  margin-left: 7px;
}
.rtl
  .elementor-7819
  .elementor-element.elementor-element-e45115f
  .tficonbox
  .tf-button.bt_icon_before
  i {
  margin-left: 7px;
  margin-right: 0;
}
.rtl
  .elementor-7819
  .elementor-element.elementor-element-e45115f
  .tficonbox
  .tf-button.bt_icon_before
  svg {
  margin-left: 7px;
  margin-right: 0;
}
.rtl
  .elementor-7819
  .elementor-element.elementor-element-e45115f
  .tficonbox
  .tf-button.bt_icon_after
  i {
  margin-right: 7px;
  margin-left: 0;
}
.rtl
  .elementor-7819
  .elementor-element.elementor-element-e45115f
  .tficonbox
  .tf-button.bt_icon_after
  svg {
  margin-right: 7px;
  margin-left: 0;
}
.elementor-7819
  .elementor-element.elementor-element-e45115f
  .tficonbox
  .tf-button:hover {
  color: #ffa920;
}
.elementor-7819
  .elementor-element.elementor-element-e45115f
  .tficonbox
  .tf-button:hover
  i {
  color: #ffa920;
}
.elementor-7819
  .elementor-element.elementor-element-e45115f
  .tficonbox
  .tf-button:hover
  svg {
  fill: #ffa920;
}
.elementor-7819
  .elementor-element.elementor-element-e45115f
  .tficonbox
  .tf-button.has-line:hover:after {
  background-color: #ffa920;
}
.elementor-7819
  .elementor-element.elementor-element-063ece5
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
}
.elementor-7819 .elementor-element.elementor-element-063ece5 .tficonbox {
  align-items: center;
}
.elementor-7819
  .elementor-element.elementor-element-063ece5
  .tficonbox
  .wrap-icon::after {
  display: block;
  right: -24px;
}
.elementor-7819
  .elementor-element.elementor-element-063ece5
  .tficonbox
  .wrap-icon::after {
  background-color: #ffffff;
}
.elementor-7819
  .elementor-element.elementor-element-063ece5
  .tficonbox
  .wrap-icon-inner
  i {
  font-size: 50px;
}
.elementor-7819
  .elementor-element.elementor-element-063ece5
  .tficonbox
  .wrap-icon-inner
  svg,
.elementor-7819
  .elementor-element.elementor-element-063ece5
  .tficonbox
  .wrap-icon-inner
  img {
  width: 50px;
}
.elementor-7819
  .elementor-element.elementor-element-063ece5
  .tficonbox
  .wrap-icon-inner {
  transform: rotate(0deg);
}
.elementor-7819
  .elementor-element.elementor-element-063ece5
  .tficonbox
  .wrap-icon-inner
  i,
.elementor-7819
  .elementor-element.elementor-element-063ece5
  .tficonbox
  .wrap-icon-inner
  svg {
  transform: rotate(0deg);
}
.elementor-7819
  .elementor-element.elementor-element-063ece5
  .tficonbox
  .wrap-icon-inner
  img {
  transform: rotate(0deg);
}
.elementor-7819
  .elementor-element.elementor-element-063ece5
  .tficonbox
  .wrap-icon {
  margin: 0px 47px 0px 0px;
}
.elementor-7819
  .elementor-element.elementor-element-063ece5
  .tficonbox
  .wrap-icon-inner,
.elementor-7819
  .elementor-element.elementor-element-063ece5
  .tficonbox
  .wrap-icon-inner
  svg {
  color: #ffffff;
  fill: #ffffff;
}
.elementor-7819
  .elementor-element.elementor-element-063ece5
  .tficonbox
  .wrap-icon
  .wrap-icon-inner
  svg
  path {
  stroke: #ffffff;
}
.elementor-7819
  .elementor-element.elementor-element-063ece5
  .tficonbox
  .wrap-icon
  .wrap-icon-inner
  svg
  path.fill {
  fill: #ffffff;
}
.elementor-7819
  .elementor-element.elementor-element-063ece5
  .tficonbox
  .content
  .title {
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  margin: 0px 0px 4px 0px;
}
.elementor-7819
  .elementor-element.elementor-element-063ece5
  .tficonbox
  .content
  .title,
.elementor-7819
  .elementor-element.elementor-element-063ece5
  .tficonbox
  .content
  .title
  a {
  color: #ffffff;
}
.elementor-7819
  .elementor-element.elementor-element-063ece5
  .tficonbox
  .content
  .description {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;
}
.elementor-7819
  .elementor-element.elementor-element-063ece5
  .tficonbox
  .tf-button {
  padding: 0px 0px 0px 0px;
  margin: 20px 0px 0px 0px;
}
.elementor-7819
  .elementor-element.elementor-element-063ece5
  .tficonbox
  .tf-button
  i {
  font-size: 15px;
}
.elementor-7819
  .elementor-element.elementor-element-063ece5
  .tficonbox
  .tf-button
  svg {
  width: 15px;
}
.elementor-7819
  .elementor-element.elementor-element-063ece5
  .tficonbox
  .tf-button.bt_icon_before
  i {
  margin-right: 7px;
}
.elementor-7819
  .elementor-element.elementor-element-063ece5
  .tficonbox
  .tf-button.bt_icon_before
  svg {
  margin-right: 7px;
}
.elementor-7819
  .elementor-element.elementor-element-063ece5
  .tficonbox
  .tf-button.bt_icon_after
  i {
  margin-left: 7px;
}
.elementor-7819
  .elementor-element.elementor-element-063ece5
  .tficonbox
  .tf-button.bt_icon_after
  svg {
  margin-left: 7px;
}
.rtl
  .elementor-7819
  .elementor-element.elementor-element-063ece5
  .tficonbox
  .tf-button.bt_icon_before
  i {
  margin-left: 7px;
  margin-right: 0;
}
.rtl
  .elementor-7819
  .elementor-element.elementor-element-063ece5
  .tficonbox
  .tf-button.bt_icon_before
  svg {
  margin-left: 7px;
  margin-right: 0;
}
.rtl
  .elementor-7819
  .elementor-element.elementor-element-063ece5
  .tficonbox
  .tf-button.bt_icon_after
  i {
  margin-right: 7px;
  margin-left: 0;
}
.rtl
  .elementor-7819
  .elementor-element.elementor-element-063ece5
  .tficonbox
  .tf-button.bt_icon_after
  svg {
  margin-right: 7px;
  margin-left: 0;
}
.elementor-7819
  .elementor-element.elementor-element-063ece5
  .tficonbox
  .tf-button:hover {
  color: #ffa920;
}
.elementor-7819
  .elementor-element.elementor-element-063ece5
  .tficonbox
  .tf-button:hover
  i {
  color: #ffa920;
}
.elementor-7819
  .elementor-element.elementor-element-063ece5
  .tficonbox
  .tf-button:hover
  svg {
  fill: #ffa920;
}
.elementor-7819
  .elementor-element.elementor-element-063ece5
  .tficonbox
  .tf-button.has-line:hover:after {
  background-color: #ffa920;
}
.elementor-7819
  .elementor-element.elementor-element-849950c
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(
    .elementor-widget__width-initial
  ):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0px;
}
.elementor-7819 .elementor-element.elementor-element-b082626 {
  z-index: 1;
}
body.elementor-page-7819 #footer {
  display: block;
}
body.elementor-page-7819 .info-footer {
  display: block;
}
body.elementor-page-7819 #bottom {
  display: block;
}
body.elementor-page-7819 .page-title {
  display: block;
}
@media (min-width: 768px) {
  .elementor-7819 .elementor-element.elementor-element-aebb7ac {
    --width: 35%;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-7819 .elementor-element.elementor-element-aebb7ac {
    --width: 100%;
  }
  .elementor-7819 .elementor-element.elementor-element-5e95af3 {
    width: 100%;
  }
  .elementor-7819 .elementor-element.elementor-element-849950c {
    width: 100%;
  }
}
@media (min-width: 1025px) {
  .elementor-7819
    .elementor-element.elementor-element-4439e1d:not(
      .elementor-motion-effects-element-type-background
    ),
  .elementor-7819
    .elementor-element.elementor-element-4439e1d
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-attachment: fixed;
  }
}
@media (max-width: 1024px) {
  .elementor-7819 .elementor-element.elementor-element-462bf94 {
    padding: 150px 0px 150px 0px;
  }
  .elementor-7819
    .elementor-element.elementor-element-3ad515f
    .tf-title-section
    .title-section
    .heading {
    font-size: 45px;
  }
  .elementor-7819 .elementor-element.elementor-element-f958fda {
    --gap: 30px 30px;
    --row-gap: 30px;
    --column-gap: 30px;
    --flex-wrap: wrap;
  }
  .elementor-7819 .elementor-element.elementor-element-aebb7ac {
    --align-items: center;
    --container-widget-width: calc(
      (1 - var(--container-widget-flex-grow)) * 100%
    );
  }
  .elementor-7819
    .elementor-element.elementor-element-da62751.elementor-element {
    --align-self: center;
  }
  .elementor-7819
    .elementor-element.elementor-element-5e95af3
    > .elementor-element-populated {
    margin: 0px 0px 40px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
}
@media (max-width: 767px) {
  .elementor-7819
    .elementor-element.elementor-element-3ad515f
    .tf-title-section
    .title-section
    .heading {
    font-size: 40px;
  }
  .elementor-7819 .elementor-element.elementor-element-a117392 {
    /* padding: 0px 0px 80px 0px; */
  }
  .elementor-7819 .elementor-element.elementor-element-4439e1d {
    padding: 0px 0px 70px 0px;
  }
  .elementor-7819
    .elementor-element.elementor-element-5e95af3
    > .elementor-element-populated {
    padding: 0px 0px 0px 0px;
  }
  .elementor-7819
    .elementor-element.elementor-element-d7fb916
    .tf-title-section
    .title-section
    .heading {
    font-size: 33px;
  }
}
